/*width is 28 blocks*/
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');


*{
  margin: 0;
  background-color: #9bc8f7;
  font-family: 'VT323', monospace;
  font-size: 30px;
}
.logo{
  height: 86px;
  background-image: url('images/Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}
h1{
  background-image: url("images/Grass_Block.jpg");
  background-color: #cccccc;
  background-repeat: repeat;
  background-size: 50px;
  color: #ebebeb;
  text-align: center;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 9px;
}
.p_box{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(29, 29, 29, 0.7);
  color: white;
  text-align: center;
  width: 40%;
  height: 450px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin: 50px;
}
.lil_p_box{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(29, 29, 29, 0.7);
  color: white;
  text-align: center;
  width: 20%;
  height: 40px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin: 50px;
}
.button_2 {
  background-image: url('images/Grass_Block.jpg');
  background-size: contain;
  font-size: 20px;
  width: 100%;
  height: 42px;
  align: center;
  padding-top: 10px;
  text-align: center;
  color: white;
}
a:link, a:visited {
    background-color: transparent;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    transition: 0.005s;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}
a:hover {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    transition: 0.005s;
}
.visiting {
  background-color: rgb(255, 255, 255, 25%);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  transition: 0.005s;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
.Overworld_Hero{
  background-image: url('images/Overworld_Parralax.png');
  background-color: #cccccc;
  height: 900px;
  font-weight: normal;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -70px 70px black;
  padding-top: 150px;
}
.p2a{
  background-image: url("images/Cave.png");
  background-color: #cccccc;
  height: 900px;
  background-repeat: repeat;
  color: white;
  font-weight: normal;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
footer{
  background-image: url("images/Bedrock_Block.jpg");
  background-repeat: repeat;
  background-size: 50px;
  height: 50px;
  color: white;
  padding-top: 10px;
  text-align: center;
}
ul{
  list-style: none;
}
.N_Transition{
  background-image: url("images/Nether_Portal.gif");
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 25px 20px black, inset 0 -25px 20px black;
}
.Nether_P{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('images/Netherrack.png');
  background-size: 50px;
  background-color: #cccccc;
  height: 200px;
  background-repeat: repeat;
  color: white;
  font-weight: normal;
}
.Nether_Parralax{
  background-image: url('images/Hero_Nether.gif');
  background-color: #cccccc;
  height: 900px;
  font-weight: normal;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 75px 100px black, inset 0 -75px 100px black;
}
.E_Transition{
  background-image: url("images/End_Portal.png");
  background-color: black;
  height: 100px;
  background-repeat: repeat;
  background-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 25px 20px black, inset 0 -25px 20px black;
}
.End_Parralax{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),  url('images/End.gif');
  background-color: #cccccc;
  height: 900px;
  font-weight: normal;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 50px 50px black;
}
